name: Create Release

on:
  push:
    tags:
      - 'v*' # 当推送v开头的tag时触发

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Set Release Version
        id: version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
      
      - name: Create Release Package
        run: |
          tar -czf "seatunnel-installer-${{ env.VERSION }}.tar.gz" \
            --exclude='.git' \
            --exclude='.github' \
            --exclude='*.tar.gz' \
            --exclude='.install*' \
            --exclude='.step*' \
            --exclude='.web*' \
            --exclude='*.log' \
            --exclude='temp.*' \
            .
          
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          files: seatunnel-installer-${{ env.VERSION }}.tar.gz
          draft: false
          prerelease: false
          body_path: CHANGELOG.md
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}